web/WEB-INF/wsdl/192.168.2.45_8080/unkit/PartSellerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.businesslogic.unkitsolutions.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.businesslogic.unkitsolutions.co/">

<xs:element name="buyPart" type="tns:buyPart"/>

<xs:element name="buyPartResponse" type="tns:buyPartResponse"/>

<xs:complexType name="buyPart">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
<xs:element name="arg2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buyPartResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseMessage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseMessage">
<xs:sequence>
<xs:element name="data" type="xs:double" minOccurs="0"/>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>